{% load i18n %}
{% block header %}
{% load static %}
    <header class="w-100 d-flex justify-content-center custom-header position-fixed top-0 z-40">
        <section class="flex-grow-1 w-100 px-4 py-2 d-flex justify-content-center align-items-center general-container">
            <section class="flex-grow-1">
                <div class="logo-container">
                    <img src="{% static 'images/logo.png' %%}" width="40" height="40" id="corporation-logo">
                    <div class="overlay">
                        <i class="fa fa-pencil"></i>
                        <!-- <i class="fa fa-file-image-o"></i> -->
                    </div>
                </div>
            </section>
            
            
            <ul class="d-flex justify-content-between align-items-center mb-0 custom-header__menu flex-grow-1">
                {% if business_id %}
                    <li class="px-2 py-1 rounded-bottom custom-header__menu-item">
                        <a href="{% url 'empresa:business-list' %}" class="link-normal text-black">{% trans "Empresas" %}</a>
                    </li>
                    <li class="px-2 py-1 rounded-bottom custom-header__menu-item">
                        <a href="{%url "clients" business_id=business_id%}" class="link-normal text-black">{% trans "Clientes" %}</a>
                    </li>
                    <li class="px-2 py-1 rounded-bottom custom-header__menu-item">
                        <a href="{%url "listProveedor"%}?empresa={{business_id }} ">{% trans "Proveedores" %}</a>
                    </li>
                    <li class="px-2 py-1 rounded-bottom custom-header__menu-item">
                    <a class="link-normal text-black" href="{% url 'empresa:list-employee' business_id=business_id %}">{% trans "Empleados" %}</a>
                    </li>
                {% endif %}
                <li class="px-2 py-1">
                    <form class="d-flex gap-3" action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                        <select name="language" class="form-select">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected" {% endif %}>
                                    {% trans language.name_local %} ({{ language.code }})
                                </option>
                            {% endfor %}
                        </select>
                        <input type="submit" class="btn btn-primary" value="{% trans 'Cambiar' %}">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-gear"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                              
                              <li><a class="dropdown-item" id="cambiar-nombre" data-toggle="modal" data-target="#modify-modal" href="#">{% trans "Cambiar nombre" %}</a></li>
                              <li><a class="dropdown-item" id="modify-logo" href="#">{% trans "Cambiar logo" %}</a></li>
                            </ul>
                          </div>
                    </form>
                </li>
            </ul>
        </section>
    </header>

<!-- Ventana modal -->
<div class="modal fade" id="modify-modal" tabindex="-1" role="dialog" aria-labelledby="modify-modal-title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between">
        <h5 class="modal-title" id="modify-modal-title">{% trans "Modificar nombre" %}</h5>
        <button type="button" class="close float-end" data-dismiss="modal" aria-label="Close">
          &times;
        </button>
      </div>
      <form action="/change-name/cambiar-nombre/" method="post">
        {% csrf_token %}
        <div class="modal-body">
          <label for="new-value">{% trans "Ingrese el nombre de la corporación:" %}</label>
          <input type="text" class="form-control" id="new-value" name="new-value" required>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancelar" %}</button>
          

            
            <input type="submit" class="btn btn-primary" onclick="$('#modal_id').modal('hide');" value={% trans "Guardar"%} >
      </form>
      
      </div>
    </div>
  </div>
</div>


    <input id="file-input" accept="image/png" type="file" style="display: none;">
    <script>
        $(document).ready(function() {
            $(".overlay").click(function() {
                $("#file-input").click();
            });

            $("#modify-logo").click(function(e) {
                e.preventDefault();
                $("#file-input").click();
                return false;
            });

            $('#file-input').on('change', function() {
                const image = this.files[0];
                const formData = new FormData();
                formData.append('image', image);
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

                $.ajax({
                    url: '/image_upload/upload_image/',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        console.log(response);
                        location.reload(true);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });

        });

    </script>

{% endblock %}
