{% load i18n %}
<form enctype="multipart/form-data" method="post"  class="container d-grid gap-3 pb-4">
    {% csrf_token %}
    <div class="row">
        {% for field in form %}

        {% if field.name == 'empresa' %}
        <div style="display: none;" class="col-0">
        {% else %}
        <div class="col-6" style="margin-bottom: 15px;">
        {% endif %}
            <div class="col input-group">

            {% if field.name == 'personal_email' %}
                <label for="{{ form.email.id_for_label }}" class="input-group-text">{{ field.label }}</label>
                <input 
                    type="{{ field.widget.input_type }}"
                    class="form-control" 
                    name="{{ field.name }}"
                    aria-describedby="helpId" 
                    placeholder="{{ field.label }}"
                    value="{{ field.value | default:'' }}"
                    pattern="[^\s@]+@[^\s@\.]+\.{1}[^\s@\.]+"
                    Required
                >
                {% for error in form.email.errors %}
                    <span class="invalid-feedback">{{ error }}</span>
                {% endfor %}
                
            {% elif field.name == 'tipo' %}
                <label class="input-group-text">{% trans "Tipo" %}</label>
                <select 
                    class="form-select" 
                    aria-label="Default select example"
                    name="{{ field.name }}"
                    placeholder="{{ field.label }}" 
                    value="{{ field.value | default:'' }}"
                >
                    <option value="LE" {% if field.value == 'LE' %} selected {% endif %}>
                        <h5>{% trans "Labora empresa" %}</h5>
                    </option>
                    <option value="SO" {% if field.value == 'SO' %} selected {% endif %}>
                        <h5>{% trans "Estudiante" %}</h5>
                    </option>
                    <option value="JR" {% if field.value == 'JR' %} selected {% endif %}>
                        <h5>{% trans "Otro" %}</h5>
                    </option>
                </select>
            {% elif field.name == 'pais' %}                        
                <!--Pais-->
                <label class="input-group-text">{% trans "Pais" %}</label>
                <select 
                    class="form-select" 
                    aria-label="Default select example"
                    name="{{ field.name }}"
                    placeholder="{{ field.label }}" 
                    value="{{ field.value | default:'' }}">
                    
                    {% for i in paises %}
                        <option value='{{i}}' {% if field.value ==  i  %} selected {% endif %}>{{i}} </option>
                    {% endfor %}
                    
                {% elif field.name == 'tlf_celular' or field.name == 'whatsapp'  %}
                    <label for="{{ field.id_for_label }}" class="input-group-text">{{ field.label }}</label>
                    <input 
                        type="{{ field.widget.input_type }}"
                        class="form-control" 
                        name="{{ field.name }}"
                        aria-describedby="helpId" 
                        placeholder="{{ field.label }}"
                        value="{{ field.value | default:'' }}"
                        pattern="\+?\d{1,3}(-\d{2,4}){2,4}|\+?\d{7,15}"
                    >
                {% else %}
                    {% if field.name == 'tipo' %}
                        <label class="input-group-text">{% trans "Tipo" %}</label>
                        <select 
                            class="form-select" 
                            aria-label="Default select example"
                            name="{{ field.name }}"
                            placeholder="{{ field.label }}" 
                            value="{{ field.value | default:'' }}"
                        >
                            <option value="LE" {% if field.value == 'LE' %} selected {% endif %}>
                                <h5>{% trans "Labora empresa" %}</h5>
                            </option>
                            <option value="SO" {% if field.value == 'SO' %} selected {% endif %}>
                                <h5>{% trans "Estudiante" %}</h5>
                            </option>
                            <option value="JR" {% if field.value == 'JR' %} selected {% endif %}>
                                <h5>{% trans "Otro" %}</h5>
                            </option>
                        </select>
                    {% else %}                        
                        <!--Pais-->
                        {% if field.name == 'pais' %}
                            <label class="input-group-text">{% trans "Pais" %}</label>
                            <select 
                                class="form-select" 
                                aria-label="Default select example"
                                name="{{ field.name }}"
                                placeholder="{{ field.label }}" 
                                value="{{ field.value | default:'' }}">
                                
                                {% for i in paises %}
                                    <option value='{{i}}' {% if field.value ==  i  %} selected {% endif %}>{{i}} </option>
                                {% endfor %}
                                
                            </select>
                        {% else %}                        
                        <label class="input-group-text" name={{field.name}}>{{ field.label }}</label>
                        <input 
                            type="{{ field.widget.input_type }}"
                            class="form-control" 
                            name="{{ field.name }}"
                            aria-describedby="helpId" 
                            placeholder="{{ field.label }}"
                            {% if field.name == 'empresa' %}
                                value="{{ business_id }}"
                            {% else %}
                                value="{{ field.value | default:'' }}"
                            {% endif %}
                            Required
                        >
                        {% endif %}
                    {% endif %}
                {% endif %}
                <section class="d-flex flex-column">
                    <!--Teléfonos -->
                    {% if field.name == 'tlf_celular' or field.name == 'whatsapp' %}
                        <span class="text-info text-xs">
                            <i class="bi bi-info-circle"></i>
                            {% trans 'Formatos válidos: +58-0212-123-1234, +58-0212-123-12-34, +5802121231234, 58-0212-123-1234' %}
                        </span>
                    {% endif %}

                    <!--Errores -->
                    {% for error in field.errors %}
                        <span class="text-danger text-xs">
                            <i class="bi bi-exclamation-octagon"></i>
                            {{ error }}
                        </span>
                    {% endfor %}                  
                </section>
            </div>

            
            </div>
        {% endfor %}
    </div>
    {% if form.non_field_errors %}
    <span class="text-danger text-xs mx-2">
        {{form.non_field_errors}}
    </span>
    {% endif %}
    <div class="row">
        <div class="col input-group">
            <h5>{% trans "Redes Sociales" %}</h5>
            <ul class="list-group list-group w-100" id="socialNetworkList" ></ul>
        </div>
    </div>
    <div class="row">
        <div class="col input-group">
            {% include "common/social_media_form.html" with socialm_formset=socialm_formset%}
        </div>
    </div>
    <div class="row">
        <div class="col input-group">
            <input 
                class="btn btn-primary"
                type="submit"
                value={% trans "Enviar" %}
            >
        </div>
    </div>
</form>


{% block inline_javascript %}
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            new SocialMediaController();
        });
    </script>
{% endblock %}